RewriteEngine On

# No reescribir solicitudes a los directorios especificados
RewriteCond %{REQUEST_URI} !^/controlador/
RewriteCond %{REQUEST_URI} !^/vistas/scripts/
RewriteCond %{REQUEST_URI} !^/app/
RewriteCond %{REQUEST_URI} !^/vistas/

# Si el archivo o directorio no existe, redirigir a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las demás solicitudes a index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
